@import url(reset.css);

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.clear-fix{
    clear: both;
}

.clear-fix::after{
    display: block;
    content: "";
    clear: both;
}

a{
    text-decoration: none;
    display: block;
}

header a{
    display: block;
    font-size: 13px;
    line-height: 24px;
    color: rgba(0,0,0,.87);
}

header a:hover{
    text-decoration: underline;
}

/* Layout */


#header-wrapper{
    /* background-color: yellow; */
    width: 1354px;
    height: 60px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header-nav svg{
    width: 24px;
    height: 24px;
    fill: #5f6368;
}

#header-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 32px;
    padding-right: 4px;
}

#gmail, #image{
    padding-left: 15px;
}

#apps{
    width: 40px;
    height: 40px;
    padding: 4px;
    padding-left: 50 px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#apps a{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#apps a svg{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#apps:hover{
    cursor: pointer;
    background-color: rgba(60,64,67,0.08);
}

#btn-signin{
    padding: 9px 23px;
    
}

#btn-signin>a{
    /* width: 48px;
    height: 16px; */
    padding: 9px 23px;
    margin: 0 8px;
    
    font-size: 14px;
    line-height: 1rem;
    font-weight: 500;
    color: white;
    background-color: rgb(26,115,232);
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;

    
}

#btn-signin a:hover{
    background-color: #1b66c9;
    text-decoration: none;
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}

#btn-signin a:focus{
    background-color: #1c5fba;
    text-decoration: none;
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}

